@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(42, 123, 155, 1) 100%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.activ):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a {
    background: #DC7000;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

header nav ul li.btn a:hover {
    background: #DC2;
}

.hero {
    padding: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #DC7000;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    color: #DC7000;
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 600;
    line-height: 170%;
    margin: 30px;
}

.hero--info .btn {
    background: #DC7000;
    color: #fff;
    border-radius: 15px 30px;
    border: none;
    transition: all 0.5s ease;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}